doctype html
html(lang="es")
	head
		title Solbasta | Politica de privacidad
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="stylesheet" href="style.css")
		link(rel="stylesheet" href="webicons/styles.css")
		script(type="text/javascript", src="jquery-3.1.1.min.js")
			
	body
		header
			.am
				a(href="index.html", title="Portada")#logo SolBasta
				nav
					ul
						li: a(href="subastas-en-vivo.html", title="#")
							span Subastas
							| En vivo
						li: a(href="subastas-terminadas.html", title="#")
							span Subastas
							|  Terminadas
						li: a(href="subastas-proximas.html", title="#")
							span Subastas
							|  Proximas
						li: a(href="subastas-categorias.html", title="#") Categorias
						li.como: a(href="como-juego.html", title="#") Como juego
						//li.anaranjado: a(href="testimonios.html", title="#") Testimonios
						li.anaranjado: a(href="comprar-solsasos.html", title="#") Comprar solsasos
						li.cuenta
							a(href="mi-cuenta-resumen.html", title="#") Mi cuenta
							ul
								li: a(href="mi-cuenta-resumen.html", title="#").icon-usuario Resumen
								li: a(href="mi-cuenta-editar-informacion.html", title="#").icon-editar Editar informacion
								li: a(href="mi-cuenta-mis-direcciones.html", title="#").icon-marcador Mis direcciones
								li: a(href="mi-cuenta-historial-de-solsasos.html", title="#").icon-archivos Historial de solsazos
								li: a(href="mi-cuenta-subastas-ganadas.html", title="#").icon-copa Subastas ganadas
								li: a(href="mi-cuenta-pagos.html", title="#").icon-billete Pagos
								li: a(href="mi-cuenta-invitados.html", title="#").icon-usuarios Invitados

				#usuario
					#opciones
						a(href="registrarte.html", title="Registrarse") Registrarte
						a(href="iniciar-sesion.html", title="Iniciar Sesión") Iniciar Sesión
					//span Hola,
							b  verocn1093
							|  tienes
							b  10
							|  solsazo(s) disponibles
		main#politica-de-privacidad
			.am
				h1 Politica de privacidad
				p 
					span SOLBASTA AUCTIONS S.R.L (“SOLBASTA”) 
					| pone a disposición el presente documento (la “Política de Privacidad”) para informar acerca de las políticas y procedimientos relacionados a la recopilación, uso y divulgación de información personal que recibe de los usuarios (los “Usuarios”) del sitio web de Internet www.lukana.pe (el “Sitio Web”) y las correspondientes aplicaciones para dispositivos móviles (las "Aplicaciones"). La Política de Privacidad se aplica sólo a la información que los Usuarios nos proporcionan a través del Sitio Web y/o sus Aplicaciones.
				p La Política de Privacidad cumple con los parámetros establecidos en las normas nacionales sobre protección de datos personales,  en particular, la Ley No. 29733, Ley de protección de datos personales, y el Decreto Supremo 003-2013-JUS, Reglamento de la Ley (la “Ley”). LUKANA se reserva el derecho a modificar la Política de Privacidad, lo cual será comunicado vía correo electrónico con razonable anticipación a su entrada en vigencia. Este documento es parte integrante de los Términos y Condiciones Generales.
				ul
					li
						h2 Datos personales
						p Al registrarse al Sitio Web y/o sus Aplicaciones, el Usuario deberá brindar datos de carácter personal, lo que incluye, pero no está limitado a, su nombre, documento su nombre, documento de identidad, número de teléfono, direcciones de envío y de facturación y dirección de correo electrónico, ("Datos Personales").

						p LUKANA podrá también recoger la información que el Usuario proporciona con respecto a sus preferencias e intereses personales. En caso los Usuarios accedan al Sitio Web y/o a sus Aplicaciones utilizando servicios de terceros, en particular, redes sociales (“Servicios de Terceros”), LUKANA podrá utilizar los Datos Personales que el Usuario haya proporcionado a los Servicios de Terceros para crear o complementar su cuenta. Los Datos Personales que se utilicen dependerán de la configuración de privacidad que el Usuario tenga con los Servicios de Terceros.

						p Los Datos Personales proporcionados por los Usuarios a LUKANA a través del Sitio Web y/o sus Aplicaciones serán objeto de tratamiento automatizado e incorporados en las bases de datos personales de las que LUKANA será titular y responsable. El Usuario reconoce y acepta que cualquier información que califique como dato personal de terceros proporcionado a LUKANA a través del Sitio Web y/o sus Aplicaciones ha sido autorizada por su titular en cumplimiento estricto de los términos establecidos en la Ley.

						p LUKANA facilitará los mecanismos técnicos respectivos para que los Usuarios brinden su consentimiento al tratamiento automatizado de sus datos personales en los términos establecidos en la Ley.

						p La recopilación y tratamiento de los Datos Personales tiene como finalidad el mantenimiento de la relación contractual entre el Usuario y LUKANA a fin de brindarle:

						ul
							li Productos y servicios ofrecidos a través del Sitio Web y/o sus Aplicaciones.
							li Ofertas de productos y servicios personalizados.
							li La gestión, administración, ampliación y mejora de dichos productos y servicios sobre la base de sus preferencias y gustos.

						p Lo anterior incluye de manera enunciativa y no limitativa el:

						ul
							li Estudio del nivel de utilización de los diferentes productos y servicios ofrecidos a través del Sitio Web.
							li Diseño de encuestas destinadas a medir la calidad de los productos y servicios del Sitio Web.
							li Envío de actualizaciones y de información periódica referida a dichos productos y servicios ya sea por medios físicos ó electrónicos y eventualmente por terceros cuando LUKANA así lo requiera.

						p LUKANA podrá vender, transferir o ceder algunos o todos sus activos, incluyendo los Datos Personales, en caso de una fusión, adquisición, reorganización, venta de activos o quiebra, para  la cual se entiende que el usuario otorga dicha autorización de manera previa, informada, libre, expresa e inequívoca.
					li
						h2 Cookies
						p Al registrarse al Sitio Web y/o sus Aplicaciones, el Usuario deberá brindar datos de carácter personal, lo que incluye, pero no está limitado a, su nombre, documento su nombre, documento de identidad, número de teléfono, direcciones de envío y de facturación y dirección de correo electrónico, ("Datos Personales").

						p LUKANA podrá también recoger la información que el Usuario proporciona con respecto a sus preferencias e intereses personales. En caso los Usuarios accedan al Sitio Web y/o a sus Aplicaciones utilizando servicios de terceros, en particular, redes sociales (“Servicios de Terceros”), LUKANA podrá utilizar los Datos Personales que el Usuario haya proporcionado a los Servicios de Terceros para crear o complementar su cuenta. Los Datos Personales que se utilicen dependerán de la configuración de privacidad que el Usuario tenga con los Servicios de Terceros.

						p Los Datos Personales proporcionados por los Usuarios a LUKANA a través del Sitio Web y/o sus Aplicaciones serán objeto de tratamiento automatizado e incorporados en las bases de datos personales de las que LUKANA será titular y responsable. El Usuario reconoce y acepta que cualquier información que califique como dato personal de terceros proporcionado a LUKANA a través del Sitio Web y/o sus Aplicaciones ha sido autorizada por su titular en cumplimiento estricto de los términos establecidos en la Ley.

						p LUKANA facilitará los mecanismos técnicos respectivos para que los Usuarios brinden su consentimiento al tratamiento automatizado de sus datos personales en los términos establecidos en la Ley.

						p La recopilación y tratamiento de los Datos Personales tiene como finalidad el mantenimiento de la relación contractual entre el Usuario y LUKANA a fin de brindarle:

						ul
							li Productos y servicios ofrecidos a través del Sitio Web y/o sus Aplicaciones.
							li Ofertas de productos y servicios personalizados.
							li La gestión, administración, ampliación y mejora de dichos productos y servicios sobre la base de sus preferencias y gustos.

						p Lo anterior incluye de manera enunciativa y no limitativa el:

						ul
							li Estudio del nivel de utilización de los diferentes productos y servicios ofrecidos a través del Sitio Web.
							li Diseño de encuestas destinadas a medir la calidad de los productos y servicios del Sitio Web.
							li Envío de actualizaciones y de información periódica referida a dichos productos y servicios ya sea por medios físicos ó electrónicos y eventualmente por terceros cuando LUKANA así lo requiera.

						p LUKANA podrá vender, transferir o ceder algunos o todos sus activos, incluyendo los Datos Personales, en caso de una fusión, adquisición, reorganización, venta de activos o quiebra, para  la cual se entiende que el usuario otorga dicha autorización de manera previa, informada, libre, expresa e inequívoca.
					li
						h2 Dibulgación de información
						p Al registrarse al Sitio Web y/o sus Aplicaciones, el Usuario deberá brindar datos de carácter personal, lo que incluye, pero no está limitado a, su nombre, documento su nombre, documento de identidad, número de teléfono, direcciones de envío y de facturación y dirección de correo electrónico, ("Datos Personales").

						p LUKANA podrá también recoger la información que el Usuario proporciona con respecto a sus preferencias e intereses personales. En caso los Usuarios accedan al Sitio Web y/o a sus Aplicaciones utilizando servicios de terceros, en particular, redes sociales (“Servicios de Terceros”), LUKANA podrá utilizar los Datos Personales que el Usuario haya proporcionado a los Servicios de Terceros para crear o complementar su cuenta. Los Datos Personales que se utilicen dependerán de la configuración de privacidad que el Usuario tenga con los Servicios de Terceros.

						p Los Datos Personales proporcionados por los Usuarios a LUKANA a través del Sitio Web y/o sus Aplicaciones serán objeto de tratamiento automatizado e incorporados en las bases de datos personales de las que LUKANA será titular y responsable. El Usuario reconoce y acepta que cualquier información que califique como dato personal de terceros proporcionado a LUKANA a través del Sitio Web y/o sus Aplicaciones ha sido autorizada por su titular en cumplimiento estricto de los términos establecidos en la Ley.

						p LUKANA facilitará los mecanismos técnicos respectivos para que los Usuarios brinden su consentimiento al tratamiento automatizado de sus datos personales en los términos establecidos en la Ley.

						p La recopilación y tratamiento de los Datos Personales tiene como finalidad el mantenimiento de la relación contractual entre el Usuario y LUKANA a fin de brindarle:

						ul
							li Productos y servicios ofrecidos a través del Sitio Web y/o sus Aplicaciones.
							li Ofertas de productos y servicios personalizados.
							li La gestión, administración, ampliación y mejora de dichos productos y servicios sobre la base de sus preferencias y gustos.

						p Lo anterior incluye de manera enunciativa y no limitativa el:

						ul
							li Estudio del nivel de utilización de los diferentes productos y servicios ofrecidos a través del Sitio Web.
							li Diseño de encuestas destinadas a medir la calidad de los productos y servicios del Sitio Web.
							li Envío de actualizaciones y de información periódica referida a dichos productos y servicios ya sea por medios físicos ó electrónicos y eventualmente por terceros cuando LUKANA así lo requiera.

						p LUKANA podrá vender, transferir o ceder algunos o todos sus activos, incluyendo los Datos Personales, en caso de una fusión, adquisición, reorganización, venta de activos o quiebra, para  la cual se entiende que el usuario otorga dicha autorización de manera previa, informada, libre, expresa e inequívoca.
					li
						h2 Seguridad
						p Al registrarse al Sitio Web y/o sus Aplicaciones, el Usuario deberá brindar datos de carácter personal, lo que incluye, pero no está limitado a, su nombre, documento su nombre, documento de identidad, número de teléfono, direcciones de envío y de facturación y dirección de correo electrónico, ("Datos Personales").

						p LUKANA podrá también recoger la información que el Usuario proporciona con respecto a sus preferencias e intereses personales. En caso los Usuarios accedan al Sitio Web y/o a sus Aplicaciones utilizando servicios de terceros, en particular, redes sociales (“Servicios de Terceros”), LUKANA podrá utilizar los Datos Personales que el Usuario haya proporcionado a los Servicios de Terceros para crear o complementar su cuenta. Los Datos Personales que se utilicen dependerán de la configuración de privacidad que el Usuario tenga con los Servicios de Terceros.

						p Los Datos Personales proporcionados por los Usuarios a LUKANA a través del Sitio Web y/o sus Aplicaciones serán objeto de tratamiento automatizado e incorporados en las bases de datos personales de las que LUKANA será titular y responsable. El Usuario reconoce y acepta que cualquier información que califique como dato personal de terceros proporcionado a LUKANA a través del Sitio Web y/o sus Aplicaciones ha sido autorizada por su titular en cumplimiento estricto de los términos establecidos en la Ley.

						p LUKANA facilitará los mecanismos técnicos respectivos para que los Usuarios brinden su consentimiento al tratamiento automatizado de sus datos personales en los términos establecidos en la Ley.

						p La recopilación y tratamiento de los Datos Personales tiene como finalidad el mantenimiento de la relación contractual entre el Usuario y LUKANA a fin de brindarle:

						ul
							li Productos y servicios ofrecidos a través del Sitio Web y/o sus Aplicaciones.
							li Ofertas de productos y servicios personalizados.
							li La gestión, administración, ampliación y mejora de dichos productos y servicios sobre la base de sus preferencias y gustos.

						p Lo anterior incluye de manera enunciativa y no limitativa el:

						ul
							li Estudio del nivel de utilización de los diferentes productos y servicios ofrecidos a través del Sitio Web.
							li Diseño de encuestas destinadas a medir la calidad de los productos y servicios del Sitio Web.
							li Envío de actualizaciones y de información periódica referida a dichos productos y servicios ya sea por medios físicos ó electrónicos y eventualmente por terceros cuando LUKANA así lo requiera.

						p LUKANA podrá vender, transferir o ceder algunos o todos sus activos, incluyendo los Datos Personales, en caso de una fusión, adquisición, reorganización, venta de activos o quiebra, para  la cual se entiende que el usuario otorga dicha autorización de manera previa, informada, libre, expresa e inequívoca.
					li
						h2 Flujo transfronterizo de datos
						p Al registrarse al Sitio Web y/o sus Aplicaciones, el Usuario deberá brindar datos de carácter personal, lo que incluye, pero no está limitado a, su nombre, documento su nombre, documento de identidad, número de teléfono, direcciones de envío y de facturación y dirección de correo electrónico, ("Datos Personales").

						p LUKANA podrá también recoger la información que el Usuario proporciona con respecto a sus preferencias e intereses personales. En caso los Usuarios accedan al Sitio Web y/o a sus Aplicaciones utilizando servicios de terceros, en particular, redes sociales (“Servicios de Terceros”), LUKANA podrá utilizar los Datos Personales que el Usuario haya proporcionado a los Servicios de Terceros para crear o complementar su cuenta. Los Datos Personales que se utilicen dependerán de la configuración de privacidad que el Usuario tenga con los Servicios de Terceros.

						p Los Datos Personales proporcionados por los Usuarios a LUKANA a través del Sitio Web y/o sus Aplicaciones serán objeto de tratamiento automatizado e incorporados en las bases de datos personales de las que LUKANA será titular y responsable. El Usuario reconoce y acepta que cualquier información que califique como dato personal de terceros proporcionado a LUKANA a través del Sitio Web y/o sus Aplicaciones ha sido autorizada por su titular en cumplimiento estricto de los términos establecidos en la Ley.

						p LUKANA facilitará los mecanismos técnicos respectivos para que los Usuarios brinden su consentimiento al tratamiento automatizado de sus datos personales en los términos establecidos en la Ley.

						p La recopilación y tratamiento de los Datos Personales tiene como finalidad el mantenimiento de la relación contractual entre el Usuario y LUKANA a fin de brindarle:

						ul
							li Productos y servicios ofrecidos a través del Sitio Web y/o sus Aplicaciones.
							li Ofertas de productos y servicios personalizados.
							li La gestión, administración, ampliación y mejora de dichos productos y servicios sobre la base de sus preferencias y gustos.

						p Lo anterior incluye de manera enunciativa y no limitativa el:

						ul
							li Estudio del nivel de utilización de los diferentes productos y servicios ofrecidos a través del Sitio Web.
							li Diseño de encuestas destinadas a medir la calidad de los productos y servicios del Sitio Web.
							li Envío de actualizaciones y de información periódica referida a dichos productos y servicios ya sea por medios físicos ó electrónicos y eventualmente por terceros cuando LUKANA así lo requiera.

						p LUKANA podrá vender, transferir o ceder algunos o todos sus activos, incluyendo los Datos Personales, en caso de una fusión, adquisición, reorganización, venta de activos o quiebra, para  la cual se entiende que el usuario otorga dicha autorización de manera previa, informada, libre, expresa e inequívoca.
					li
						h2 Cambio o eliminiación de su información
						p Al registrarse al Sitio Web y/o sus Aplicaciones, el Usuario deberá brindar datos de carácter personal, lo que incluye, pero no está limitado a, su nombre, documento su nombre, documento de identidad, número de teléfono, direcciones de envío y de facturación y dirección de correo electrónico, ("Datos Personales").

						p LUKANA podrá también recoger la información que el Usuario proporciona con respecto a sus preferencias e intereses personales. En caso los Usuarios accedan al Sitio Web y/o a sus Aplicaciones utilizando servicios de terceros, en particular, redes sociales (“Servicios de Terceros”), LUKANA podrá utilizar los Datos Personales que el Usuario haya proporcionado a los Servicios de Terceros para crear o complementar su cuenta. Los Datos Personales que se utilicen dependerán de la configuración de privacidad que el Usuario tenga con los Servicios de Terceros.

						p Los Datos Personales proporcionados por los Usuarios a LUKANA a través del Sitio Web y/o sus Aplicaciones serán objeto de tratamiento automatizado e incorporados en las bases de datos personales de las que LUKANA será titular y responsable. El Usuario reconoce y acepta que cualquier información que califique como dato personal de terceros proporcionado a LUKANA a través del Sitio Web y/o sus Aplicaciones ha sido autorizada por su titular en cumplimiento estricto de los términos establecidos en la Ley.

						p LUKANA facilitará los mecanismos técnicos respectivos para que los Usuarios brinden su consentimiento al tratamiento automatizado de sus datos personales en los términos establecidos en la Ley.

						p La recopilación y tratamiento de los Datos Personales tiene como finalidad el mantenimiento de la relación contractual entre el Usuario y LUKANA a fin de brindarle:

						ul
							li Productos y servicios ofrecidos a través del Sitio Web y/o sus Aplicaciones.
							li Ofertas de productos y servicios personalizados.
							li La gestión, administración, ampliación y mejora de dichos productos y servicios sobre la base de sus preferencias y gustos.

						p Lo anterior incluye de manera enunciativa y no limitativa el:

						ul
							li Estudio del nivel de utilización de los diferentes productos y servicios ofrecidos a través del Sitio Web.
							li Diseño de encuestas destinadas a medir la calidad de los productos y servicios del Sitio Web.
							li Envío de actualizaciones y de información periódica referida a dichos productos y servicios ya sea por medios físicos ó electrónicos y eventualmente por terceros cuando LUKANA así lo requiera.

						p LUKANA podrá vender, transferir o ceder algunos o todos sus activos, incluyendo los Datos Personales, en caso de una fusión, adquisición, reorganización, venta de activos o quiebra, para  la cual se entiende que el usuario otorga dicha autorización de manera previa, informada, libre, expresa e inequívoca.
					li
						h2 Menores de edad
						p Al registrarse al Sitio Web y/o sus Aplicaciones, el Usuario deberá brindar datos de carácter personal, lo que incluye, pero no está limitado a, su nombre, documento su nombre, documento de identidad, número de teléfono, direcciones de envío y de facturación y dirección de correo electrónico, ("Datos Personales").

						p LUKANA podrá también recoger la información que el Usuario proporciona con respecto a sus preferencias e intereses personales. En caso los Usuarios accedan al Sitio Web y/o a sus Aplicaciones utilizando servicios de terceros, en particular, redes sociales (“Servicios de Terceros”), LUKANA podrá utilizar los Datos Personales que el Usuario haya proporcionado a los Servicios de Terceros para crear o complementar su cuenta. Los Datos Personales que se utilicen dependerán de la configuración de privacidad que el Usuario tenga con los Servicios de Terceros.

						p Los Datos Personales proporcionados por los Usuarios a LUKANA a través del Sitio Web y/o sus Aplicaciones serán objeto de tratamiento automatizado e incorporados en las bases de datos personales de las que LUKANA será titular y responsable. El Usuario reconoce y acepta que cualquier información que califique como dato personal de terceros proporcionado a LUKANA a través del Sitio Web y/o sus Aplicaciones ha sido autorizada por su titular en cumplimiento estricto de los términos establecidos en la Ley.

						p LUKANA facilitará los mecanismos técnicos respectivos para que los Usuarios brinden su consentimiento al tratamiento automatizado de sus datos personales en los términos establecidos en la Ley.

						p La recopilación y tratamiento de los Datos Personales tiene como finalidad el mantenimiento de la relación contractual entre el Usuario y LUKANA a fin de brindarle:

						ul
							li Productos y servicios ofrecidos a través del Sitio Web y/o sus Aplicaciones.
							li Ofertas de productos y servicios personalizados.
							li La gestión, administración, ampliación y mejora de dichos productos y servicios sobre la base de sus preferencias y gustos.

						p Lo anterior incluye de manera enunciativa y no limitativa el:

						ul
							li Estudio del nivel de utilización de los diferentes productos y servicios ofrecidos a través del Sitio Web.
							li Diseño de encuestas destinadas a medir la calidad de los productos y servicios del Sitio Web.
							li Envío de actualizaciones y de información periódica referida a dichos productos y servicios ya sea por medios físicos ó electrónicos y eventualmente por terceros cuando LUKANA así lo requiera.

						p LUKANA podrá vender, transferir o ceder algunos o todos sus activos, incluyendo los Datos Personales, en caso de una fusión, adquisición, reorganización, venta de activos o quiebra, para  la cual se entiende que el usuario otorga dicha autorización de manera previa, informada, libre, expresa e inequívoca.
					li
						h2 Contacto
						p Al registrarse al Sitio Web y/o sus Aplicaciones, el Usuario deberá brindar datos de carácter personal, lo que incluye, pero no está limitado a, su nombre, documento su nombre, documento de identidad, número de teléfono, direcciones de envío y de facturación y dirección de correo electrónico, ("Datos Personales").

						p LUKANA podrá también recoger la información que el Usuario proporciona con respecto a sus preferencias e intereses personales. En caso los Usuarios accedan al Sitio Web y/o a sus Aplicaciones utilizando servicios de terceros, en particular, redes sociales (“Servicios de Terceros”), LUKANA podrá utilizar los Datos Personales que el Usuario haya proporcionado a los Servicios de Terceros para crear o complementar su cuenta. Los Datos Personales que se utilicen dependerán de la configuración de privacidad que el Usuario tenga con los Servicios de Terceros.

						p Los Datos Personales proporcionados por los Usuarios a LUKANA a través del Sitio Web y/o sus Aplicaciones serán objeto de tratamiento automatizado e incorporados en las bases de datos personales de las que LUKANA será titular y responsable. El Usuario reconoce y acepta que cualquier información que califique como dato personal de terceros proporcionado a LUKANA a través del Sitio Web y/o sus Aplicaciones ha sido autorizada por su titular en cumplimiento estricto de los términos establecidos en la Ley.

						p LUKANA facilitará los mecanismos técnicos respectivos para que los Usuarios brinden su consentimiento al tratamiento automatizado de sus datos personales en los términos establecidos en la Ley.

						p La recopilación y tratamiento de los Datos Personales tiene como finalidad el mantenimiento de la relación contractual entre el Usuario y LUKANA a fin de brindarle:

						ul
							li Productos y servicios ofrecidos a través del Sitio Web y/o sus Aplicaciones.
							li Ofertas de productos y servicios personalizados.
							li La gestión, administración, ampliación y mejora de dichos productos y servicios sobre la base de sus preferencias y gustos.

						p Lo anterior incluye de manera enunciativa y no limitativa el:

						ul
							li Estudio del nivel de utilización de los diferentes productos y servicios ofrecidos a través del Sitio Web.
							li Diseño de encuestas destinadas a medir la calidad de los productos y servicios del Sitio Web.
							li Envío de actualizaciones y de información periódica referida a dichos productos y servicios ya sea por medios físicos ó electrónicos y eventualmente por terceros cuando LUKANA así lo requiera.

						p LUKANA podrá vender, transferir o ceder algunos o todos sus activos, incluyendo los Datos Personales, en caso de una fusión, adquisición, reorganización, venta de activos o quiebra, para  la cual se entiende que el usuario otorga dicha autorización de manera previa, informada, libre, expresa e inequívoca.
		footer
			.am
				.promo-redes
					h2 
						span Entérate de
						| Promociones y novedades
						span únicas en:
					a(href="#", title="Facebook").icon-facebook: span Facebook 
					a(href="#", title="Youtube").icon-youtube: span Youtube
					a(href="#", title="Instagram").icon-instagram: span Instagran
				.desarrollo
					.testimonio
						h3 Testimonios
						p 
							span
							| Gracias solbasta, por el play station 4, solo con 3 ofertas me lo gane. Muy seguros y efectivos.
							span
					.enlaces
						.lista
							h3 Acerca de Solbasta
							ul
								li: a(href="#", title="#") ¿Que es solbasta?
								li: a(href="#", title="#") ¿Quienes somos?
								li: a.resalte(href="#", title="#") Tipos de subastas
								li: a.activo(href="#", title="#") Testimonios
								li: a(href="#", title="#") Registrate ahora
						.lista
							h3 Servicio al cliente
							ul
								li: a(href="#", title="#") Ayuda y soporte
								li: a(href="#", title="#") ¿Como funciona?
								li: a(href="#", title="#") Preguntas frecuentes
								li: a(href="#", title="#") Politica de envios
								li: a(href="#", title="#") Contáctanos
						.lista
							h3 Políticas y condiciones
							ul
								li: a(href="#", title="#") Política de privacidad
								li: a(href="#", title="#") Política de garantía y devoluciones
								li: a(href="#", title="#") Terminos y condiciones
								li: a(href="#", title="#") No es un juego de azar
								li: a.resalte(href="#", title="#") Libro de reclamaciones
					.tarjetas
						h2 Paga con:
						a(href="#", title="Pago Efectivo")
							img(src="imagenes/pago-efectivo.png" alt="Pago efectivo")
						a(href="#", title="Paypal")
							img(src="imagenes/paypal.png" alt="Paypal")
						a(href="#", title="Visa, Mastercard, Dinners Club, Discover, American Express")
							img(src="imagenes/tarjetas.png" alt="Visa, Mastercard, Dinners Club, Discover, American Express")
				
			aside
				.am 
					p Todos los derechos reservados. El uso de éste sitio web implica la aceptación de los Términos y Condiciones de Uso y Política de Privacidad de Solbasta S.R.L * Porcentajes de ahorro referenciales, el ahorro total depende de los soles utilizados para ofertar.
		script(type="text/javascript", src="js/script.js")