doctype html
html(lang="es")
	head
		title Solbasta | Registrarte
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="stylesheet", href="style.css")
		link(rel="stylesheet", href="webicons/styles.css")
		script(type="text/javascript", src="jquery-3.1.1.min.js")
		link(rel="stylesheet", href="dist/css/datepicker.css")
		script(type="text/javascript", src="dist/js/datepicker.js")
		script(type="text/javascript", src="dist/js/i18n/datepicker.es.js")
			
	body.marfil
		header
			.am
				a(href="index.html", title="Portada")#logo SolBasta
				nav
					ul
						li: a(href="subastas-en-vivo.html", title="#")
							span Subastas
							| En vivo
						li: a(href="subastas-terminadas.html", title="#")
							span Subastas
							|  Terminadas
						li: a(href="subastas-proximas.html", title="#")
							span Subastas
							|  Proximas
						li: a(href="subastas-categorias.html", title="#") Categorias
						li.como: a(href="como-juego.html", title="#") Como juego
						li.anaranjado: a(href="testimonios.html", title="#") Testimonios
						//li.anaranjado: a(href="comprar-solsasos.html", title="#") Comprar solsasos
						//li.cuenta
							a(href="mi-cuenta-resumen.html", title="#") Mi cuenta
							ul
								li: a(href="mi-cuenta-resumen.html", title="#").icon-usuario Resumen
								li: a(href="mi-cuenta-editar-informacion.html", title="#").icon-editar Editar informacion
								li: a(href="mi-cuenta-mis-direcciones.html", title="#").icon-marcador Mis direcciones
								li: a(href="mi-cuenta-historial-de-solsasos.html", title="#").icon-archivos Historial de solsazos
								li: a(href="mi-cuenta-subastas-ganadas.html", title="#").icon-copa Subastas ganadas
								li: a(href="mi-cuenta-pagos.html", title="#").icon-billete Pagos
								li: a(href="mi-cuenta-invitados.html", title="#").icon-usuarios Invitados

				#usuario
					#opciones
						a(href="registrarte.html", title="Registrarse") Registrarte
						a(href="iniciar-sesion.html", title="Iniciar Sesión") Iniciar Sesión
					//span Hola,
							b  verocn1093
							|  tienes
							b  10
							|  solsazo(s) disponibles	
		main#registrarte
			.am
				#formulario
					h1 Registrate aqui
						span  y empieza a ganar a un sol
					
					p Registrate en Solbasta. Llena tus datos y empieza a ahorrar. ¿Ya estás registrado? Entonces 
						a(href="iniciar-sesion.html", title="Iniciar Sesión") Inicia Sesión
					p Los campos marcados co un asterisco (*)	 son obligatorios

					form

						h2 Nombre de usuario y contrasena
						p
							input(name="usuario", placeholder="Nombre de usuario*", type="text", value="")
							span (Entre 3 y 16 caracteres)
							span Tu nombre de usuario será mostrado a otros usuarios cuando realices una ferta. Este solo puede contener letras y números.
						p
							input(name="clave", autocomplete="off", placeholder="Contraseña*", type="password", value="")
							span (Entre 3 y 16 caracteres)
						p
							input(name="clave2", autocomplete="off", placeholder="Confirmar Contraseña *", type="password", value="")
						
						h2 Informacion personal
						
						p.pizquierda
							input(name="nombres", placeholder="Nombres*", type="text", value="")
							span.icon-usuario
						p.pderecha
							input(name="apellidos", placeholder="Apellidos*", type="text", value="")
							span.icon-usuario
						p.pizquierda
							input(name="email", placeholder="Dirección de correo electrónico*", type="email", value="")
							span.icon-email
						p.pderecha
							input(name="nacimiento", placeholder="Fecha de nacimiento*", type="text", value="", data-language="es").datepicker-here
							span.icon-torta2
						p.pizquierda
							input(name="email2", placeholder="Confirmar correo electrónico*", type="email", value="")
							span.icon-email
						p.pderecha.anaranjado
							select(name="sexo")
								option(value="", selected) Genero
								option(value="masculino") Masculino
								option(value="femenino") Femenino
								option(value="otro") No me decido XD
							span.icon-flecha
						p.pizquierda.anaranjado.sinmargenabajo
							select(name="documento")
								option(value="", selected) Tipo de documento
								option(value="dni") DNI
								option(value="carnet") Carnet de extranjería
								option(value="otro") Hay no sé XD
							span.icon-flecha
						p.pderecha.sinmargenabajo
							input(name="documento2", placeholder="Número de dni*", type="text", value="")
							span.icon-carnet

						h2 Informacion adicional
						
						p.recomendado ¿Fuiste recomendado por algún otro usuario? Si no fué así, deja este campo en blanco.
							input(name="referido", placeholder="Usuario o correo", type="text", value="")

							span Ingrese el 
								b  nombre de usuario o
								|  la dirección de
								b  correo
								|  electrónico de la persona que lo refirió

						h2 Gana soles

						p.likes Dale like a nuestras redes sociales o comparte en estas ¡Y obtén más beneficios!
							span
								a(href="#")
									span.icon-facebook
									| Like + 2 soles
								a(href="#") Comparte más 3 soles
								a(href="#")
									span.icon-twitter
									| like + 2 soles
								a(href="#") comparte + 3 soles

						p.suscribirme
							input(id="suscribirme", type="checkbox", value="suscribirme")
							label(for="suscribirme") Suscribirme al boletin de subastas, promociones y anuncios
							
							span Debe leer y aceptar los términos y condiciones para poder continuar:

							input(id="leido", type="checkbox", value="suscribirme")
							label(for="leido") He leido y acepto los 
								b  terminos y condiciones
								|  / la
								b  politica de privacidad
								|  y soy mayor de 18 años de edad.

						p.siguiente
							button#siguiente Siguiente
						
						#personaje
							h1 Escoge tu personaje
								span ¡Identificate con uno y empieza a jugar!

							ul
								-for(var p = 1; p <= 30; p++)
									li
										input(type="radio", name="personaje", id="personaje#{p}")
										label(for="personaje#{p}")
											img(src="imagenes/personajes/personaje.png" alt="Personaje #{p}")

							input(type="submit" value="Envia y empieza a ahorrar")					
		footer
			.am
				.promo-redes
					h2 
						span Entérate de
						| Promociones y novedades
						span únicas en:
					a(href="#", title="Facebook").icon-facebook: span Facebook 
					a(href="#", title="Youtube").icon-youtube: span Youtube
					a(href="#", title="Instagram").icon-instagram: span Instagran
				.desarrollo
					.testimonio
						h3 Testimonios
						p 
							span
							| Gracias solbasta, por el play station 4, solo con 3 ofertas me lo gane. Muy seguros y efectivos.
							span
					.enlaces
						.lista
							h3 Acerca de Solbasta
							ul
								li: a(href="#", title="#") ¿Que es solbasta?
								li: a(href="#", title="#") ¿Quienes somos?
								li: a.resalte(href="#", title="#") Tipos de subastas
								li: a.activo(href="#", title="#") Testimonios
								li: a(href="#", title="#") Registrate ahora
						.lista
							h3 Servicio al cliente
							ul
								li: a(href="#", title="#") Ayuda y soporte
								li: a(href="#", title="#") ¿Como funciona?
								li: a(href="#", title="#") Preguntas frecuentes
								li: a(href="#", title="#") Politica de envios
								li: a(href="#", title="#") Contáctanos
						.lista
							h3 Políticas y condiciones
							ul
								li: a(href="#", title="#") Política de privacidad
								li: a(href="#", title="#") Política de garantía y devoluciones
								li: a(href="#", title="#") Terminos y condiciones
								li: a(href="#", title="#") No es un juego de azar
								li: a.resalte(href="#", title="#") Libro de reclamaciones
					.tarjetas
						h2 Paga con:
						a(href="#", title="Pago Efectivo")
							img(src="imagenes/pago-efectivo.png" alt="Pago efectivo")
						a(href="#", title="Paypal")
							img(src="imagenes/paypal.png" alt="Paypal")
						a(href="#", title="Visa, Mastercard, Dinners Club, Discover, American Express")
							img(src="imagenes/tarjetas.png" alt="Visa, Mastercard, Dinners Club, Discover, American Express")
				
			aside
				.am 
					p Todos los derechos reservados. El uso de éste sitio web implica la aceptación de los Términos y Condiciones de Uso y Política de Privacidad de Solbasta S.R.L * Porcentajes de ahorro referenciales, el ahorro total depende de los soles utilizados para ofertar.
		script(type="text/javascript", src="js/script.js")