doctype html
html(lang="es")
	head
		title Solbasta | Detalles de la subasta
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="stylesheet" href="style.css")
		link(rel="stylesheet" href="webicons/styles.css")
		script(type="text/javascript", src="jquery-3.1.1.min.js")
		script(type="text/javascript", src="js/jquery.jscrollpane.js")
		script(type="text/javascript", src="js/jquery.mousewheel.js")
			
	body.subasta
		header
			.am
				a(href="index.html", title="Portada")#logo SolBasta
				nav
					ul
						li: a(href="subastas-en-vivo.html", title="#")
							span Subastas
							| En vivo
						li: a(href="subastas-terminadas.html", title="#")
							span Subastas
							|  Terminadas
						li: a(href="subastas-proximas.html", title="#")
							span Subastas
							|  Proximas
						li: a(href="subastas-categorias.html", title="#") Categorias
						li.como: a(href="como-juego.html", title="#") Como juego
						//li.anaranjado: a(href="testimonios.html", title="#") Testimonios
						li.anaranjado: a(href="comprar-solsasos.html", title="#") Comprar solsasos
						li.cuenta
							a(href="mi-cuenta-resumen.html", title="#") Mi cuenta
							ul
								li: a(href="mi-cuenta-resumen.html", title="#").icon-usuario Resumen
								li: a(href="mi-cuenta-editar-informacion.html", title="#").icon-editar Editar informacion
								li: a(href="mi-cuenta-mis-direcciones.html", title="#").icon-marcador Mis direcciones
								li: a(href="mi-cuenta-historial-de-solsasos.html", title="#").icon-archivos Historial de solsazos
								li: a(href="mi-cuenta-subastas-ganadas.html", title="#").icon-copa Subastas ganadas
								li: a(href="mi-cuenta-pagos.html", title="#").icon-billete Pagos
								li: a(href="mi-cuenta-invitados.html", title="#").icon-usuarios Invitados

				#usuario
					//#opciones
						a(href="registrarse-html", title="Registrarse") Registrarse
						a(href="iniciar-sesion.html", title="Iniciar Sesión") Iniciar Sesión
					span Hola,
							b  verocn1093
							|  tienes
							b  10
							|  solsazo(s) disponibles
		
		main#detalles-subasta
			
			header.am
				#mini-slider
					#imagenes
						ul
							li: img(src="imagenes/mochila.png" alt="#")
							li: img(src="imagenes/proxima3.png" alt="#")
							li: img(src="imagenes/mochila.png" alt="#")

						#grande
							img(src="imagenes/mochila.png" alt="#")
							img(src="imagenes/proxima3.png" alt="#")
							img(src="imagenes/mochila.png" alt="#")

					h3 Mochila adidas
						span Precio del mercado
							b  s/.3,250

					span (Fotografías referenciales)
				#subasta
					// 1° Estado (Por defecto): No se agrega ninguna 'clase', ya que el primer estado vendría a ser la visualización de la subasta sin iniciar sesión y con la subasta con un tiempo mayor a 10 segundos.
					// 2° Estado (clase 'oferta'): Se está visualizando la subasta, habiendo iniciado sesión previamente, y con la subasta con un tiempo mayor a 10 segundos. [<div id="subasta" clase="oferta"]
					// 3° Estado (clase 'segundos-su'): Visualizando la subasta sin iniciar sesión, pero con un tiempo menor a 10 segundos. [<div id="subasta" clase="segundos-su"]
					// 4° Estado (clase 'segundos-cu'): Visualizando la subasta habiendo iniciado sesión, y con un tiempo menor a 10 segundos [<div id="subasta" clase="segundos-cu"]
					// 5° Estado (clase 'vendido'): Visualizando la subasta ya terminada, osea, q yá se gano el producto [<div id="subasta" clase="vendido"]
					// Extras: en conjunto a los estados se le puede agregar dos clases mas llamadas: 'recordatorio1' y 'recordatorio2', las cuales mostrarán dos recordatorios que solo se visualizarán dependiendo si el usuario alla elegido verlos o no.
					p !Empieza la emoción! Recuerda que cuando el tiempo llegue a cero (00:00:00) el último en ofertar !GANA!
						button Ya no quiero ver esto nunca
					p !El tiempo se ha reiniciado! Esto pasa cada vez que alguien más oferta.
						button Ya no quiero ver esto nunca
					h3 
						b Vendido
						b 00:01:38
						span S/.2.38
						i
							span
							span
							span
					img(src="imagenes/avatar.png", alt="Avatar")
					strong Verocn1093

					button Oferta
					a(href="#") Inicia Sesión
					b Ganado

					span Con 
						b cada oferta 
						| el precio de la subasta 
						b aumenta en S/.0.01
					//span verocn fué el usuario
						b  ganador,
						|  con un total de
						b  9 oferta(s)		
				#historial
					h3 Historial de ofertas
					ul
						-for(var v = 1; v <= 25; v++)
							li verocn1093
								b s/. #{v}.98
					hr			
					a(href="#", title="#") Ir a las subastas en vivo
					p
						-for(var i = 1; i <= 5; i++)
							a(href="#", title="#")
								img(src="imagenes/#{i}.png", alt="#")									
				hr
			
			section#descripcion.am
				h2 Descripcion del producto
				p Una mochila versátil para llevar tus elementos esenciales del día a día. Con bloques de color en contraste para darle un look fresco y moderno, presenta un diseño con un bolsillo principal de cremallera, tiras ergonómicas, material acolchado de malla y un recubrimiento en la parte inferior que protege tu trainig.
				.video
					.archivo
						video
							//source
						button#granplay
					.controles
						button#play
						button#pausa
						.lineadetiempo
				
			section#especificaciones
				.am
					
					p: img(src="imagenes/detalles/mochila-detalle.png", alt="#")
					.texto.subasta
						h2 Especificaciones
						ul
							li Compartimiento principal con cremallera, bolsillo vertical con cremallera en la parte frontal superior y bolsillo frontal oculto con cremallera para los objetos de valor
							li Correas ajustables para los hombros con diseño ergonómico y papeles acolchados con tejido de malla que favorecen la ventlación
							li Parte inferior laminada con TPE muy resistente al desgaste
							li Dimensiones: 16 cm x 3 cm x 46 cm
							li Tejido liso 1% poliéster
							li Silueta ergonómica de los tirantes del hombro
							li Peso ideal: 248g
					p: img(src="imagenes/detalles/mochila-detalle.png", alt="#")
					
				.extra.subasta
					.am
						ul
							li
								span Precio Inicial:
								|  S/.0.00
							li
								span Fecha y Hora de Inicio:
								|  Mie, Dic 16 2015,  12:00:00 PM
							li
								span Costo de Envio:
								|  S/.0.00
							li
								span # de Subasta:
								|  7576	
							li
								span Fecha de Cierre:
								|  Jue Dic 17 2015,  01:33:58 pm
							li
								span Información de Entrega:
								|  Entrega gratuita

		footer
			.am
				.promo-redes
						h2 
							span Entérate de
							| Promociones y novedades
							span únicas en:
						a(href="#", title="Facebook").icon-facebook: span Facebook 
						a(href="#", title="Youtube").icon-youtube: span Youtube
						a(href="#", title="Instagram").icon-instagram: span Instagran
				.desarrollo
					.testimonio
						h3 Testimonios
						p 
							span
							| Gracias solbasta, por el play station 4, solo con 3 ofertas me lo gane. Muy seguros y efectivos.
							span
					.enlaces
						.lista
							h3 Acerca de Solbasta
							ul
								li: a(href="#", title="#") ¿Que es solbasta?
								li: a(href="#", title="#") ¿Quienes somos?
								li: a.resalte(href="#", title="#") Tipos de subastas
								li: a.activo(href="#", title="#") Testimonios
								li: a(href="#", title="#") Registrate ahora
						.lista
							h3 Servicio al cliente
							ul
								li: a(href="#", title="#") Ayuda y soporte
								li: a(href="#", title="#") ¿Como funciona?
								li: a(href="#", title="#") Preguntas frecuentes
								li: a(href="#", title="#") Politica de envios
								li: a(href="#", title="#") Contáctanos
						.lista
							h3 Políticas y condiciones
							ul
								li: a(href="#", title="#") Política de privacidad
								li: a(href="#", title="#") Política de garantía y devoluciones
								li: a(href="#", title="#") Terminos y condiciones
								li: a(href="#", title="#") No es un juego de azar
								li: a.resalte(href="#", title="#") Libro de reclamaciones
					.tarjetas
						h2 Paga con:
						a(href="#", title="Pago Efectivo")
							img(src="imagenes/pago-efectivo.png" alt="Pago efectivo")
						a(href="#", title="Paypal")
							img(src="imagenes/paypal.png" alt="Paypal")
						a(href="#", title="Visa, Mastercard, Dinners Club, Discover, American Express")
							img(src="imagenes/tarjetas.png" alt="Visa, Mastercard, Dinners Club, Discover, American Express")
				
			aside
				.am 
					p Todos los derechos reservados. El uso de éste sitio web implica la aceptación de los Términos y Condiciones de Uso y Política de Privacidad de Solbasta S.R.L * Porcentajes de ahorro referenciales, el ahorro total depende de los soles utilizados para ofertar.
		script(type="text/javascript", src="js/script.js")